<div class="modal fade" id="successModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white"><h5>تم التعميد</h5></div>
            <div class="modal-body text-center" id="credBox">
                <p>اسم المستخدم: <strong id="resUser"></strong></p>
                <p>كلمة المرور: <strong id="resPass"></strong></p>
            </div>
            <div class="modal-footer"><button class="btn btn-primary" onclick="copyText()">نسخ</button></div>
        </div>
    </div>
</div>
