{% extends "admin/admin_base.html" %}

{% block title %}تفاصيل الطلب | محجوب أونلاين{% endblock %}

{% block content %}
<div class="container-fluid mb-5">
    
    <!-- رأس الصفحة (العنوان والأزرار) -->
    {% include "admin/order/_order_header.html" %}

    <div class="row">
        <!-- العمود الأيمن: قائمة المنتجات -->
        <div class="col-xl-8 col-lg-7 mb-4">
            {% include "admin/order/_items_table_card.html" %}
        </div>

        <!-- العمود الأيسر: بطاقات المعلومات الجانبية -->
        <div class="col-xl-4 col-lg-5">
            {% include "admin/order/_order_status_card.html" %}
            {% include "admin/order/_customer_info_card.html" %}
            {% include "admin/order/_financial_summary_card.html" %}
            {% include "admin/order/_supplier_stats_card.html" %}
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include "admin/order/_order_scripts.html" %}
{% endblock %}
