{# 📂 apps/admin_orders/templates/admin/admin_order_detail.html #}
{% extends "admin/admin_base.html" %}

{% block title %}تفاصيل الطلب #{{ order.id }}{% endblock %}

{% block content %}
<div class="container-fluid py-4" dir="rtl">
    <!-- 1. رأس الصفحة وأزرار التحكم العلوية -->
    {% include "admin/partials/_order_header.html" %}

    <div class="row">
        <!-- العمود الجانبي: معلومات العميل، الحالة، والملخص المالي -->
        <div class="col-xl-4 col-lg-5 mb-4">
            {% include "admin/partials/_customer_info_card.html" %}
            {% include "admin/partials/_order_status_card.html" %}
            {% include "admin/partials/_financial_summary_card.html" %}
            {% include "admin/partials/_supplier_stats_card.html" %}
        </div>

        <!-- العمود الرئيسي: جدول عناصر ومنتجات الطلب -->
        <div class="col-xl-8 col-lg-7">
            {% include "admin/partials/_items_table_card.html" %}
        </div>
    </div>
</div>

<!-- 2. السكريبتات وتفاعلات الـ AJAX -->
{% include "admin/partials/_order_scripts.html" %}
{% endblock %}
